@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?97hpn3');
  src:  url('fonts/icomoon.eot?97hpn3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?97hpn3') format('truetype'),
    url('fonts/icomoon.woff?97hpn3') format('woff'),
    url('fonts/icomoon.svg?97hpn3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e901";
}
.icon-dollar:before {
  content: "\e903";
}
.icon-bill:before {
  content: "\e903";
}
.icon-money:before {
  content: "\e903";
}
.icon-stack:before {
  content: "\e903";
}
.icon-search-plus:before {
  content: "\e904";
}
.icon-truck:before {
  content: "\e906";
}
.icon-transport:before {
  content: "\e906";
}
.icon-transaction:before {
  content: "\e906";
}
.icon-shipping:before {
  content: "\e906";
}
.icon-keyboard_arrow_right:before {
  content: "\e90e";
}
.icon-keyboard_arrow_left:before {
  content: "\e90f";
}
.icon-home_work:before {
  content: "\e90a";
}
.icon-cube:before {
  content: "\e907";
}
.icon-ship:before {
  content: "\e90b";
}
.icon-users:before {
  content: "\e90c";
}
.icon-aircraft:before {
  content: "\e90d";
}
.icon-menu:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e902";
}
.icon-trango:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
